<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Blog Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>

</head>

<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <p>My Blog</p>
            <div class="navbar-nav">
                <a class="nav-item nav-link active">@Html.ActionLink("Home", "Index", "Home")<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link">@Html.ActionLink("About Me", "About", "Home")</a>
                <a class="nav-item nav-link">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        @Html.ActionLink("Log In", "Login", "Home")
                    }
                    else
                    {
                        @Html.ActionLink("Log Out", "Logout", "Home")
                        @Html.ActionLink("Create Post", "Create", "Admin")
                    }
                </a>
            </div>
        </nav>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Blog Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
@*<script src="~/Scripts/popper.js"></script>*@
@RenderSection("scripts",false)
</body>
</html>