@model GroupProject.Models.BlogPost

@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>BlogPost</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.BlogPostId)
        @Html.HiddenFor(model => model.DateAdded)

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="@*col-md-offset-2*@ col-md-4">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
                <div class="col-md-4">
                    @Html.ActionLink("Back to Home", "Index", "Home", null, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    </div>
}
@section scripts {
    <script src="https://cloud.tinymce.com/5/tinymce.min.js?apiKey=4rqmj7ccmxb5cl0c24xb252n8lb3pypgnbcruljgpeo3iw87"></script>
    <script>
        tinymce.init({
            selector: 'textarea'
        });
    </script>
    }

